USE [master]
GO
/****** Object:  Database [QUANLYKHOHANG]    Script Date: 4/25/2023 10:51:08 PM ******/
CREATE DATABASE [QUANLYKHOHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYKHOHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS2012\MSSQL\DATA\QUANLYKHOHANG.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLYKHOHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS2012\MSSQL\DATA\QUANLYKHOHANG_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYKHOHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYKHOHANG]
GO
/****** Object:  StoredProcedure [dbo].[delete_CHITIET_NH]    Script Date: 4/25/2023 10:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[delete_CHITIET_NH] @maphieunh nchar(20),@masp nchar(20)
as
begin 
delete CHITIET_NH
where MAPHIEU_NH =@maphieunh and MA_SP=@masp
end
GO
/****** Object:  StoredProcedure [dbo].[insert_CHITIET_NH]    Script Date: 4/25/2023 10:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insert_CHITIET_NH] @maphieunh nchar(20),@masp nchar(20),@soluong int ,@ThanhTien float
as
begin
INSERT INTO CHITIET_NH VALUES(@maphieunh,@masp,@soluong,@ThanhTien)
end
GO
/****** Object:  StoredProcedure [dbo].[update_CHITIET_NH]    Script Date: 4/25/2023 10:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[update_CHITIET_NH] @maphieunh nchar(20),@masp nchar(20),@soluong int 
as
begin 
update CHITIET_NH
set SOLUONG=@soluong 
where MAPHIEU_NH=@maphieunh and MA_SP=@masp
end 
GO
/****** Object:  Table [dbo].[CHITIET_NH]    Script Date: 4/25/2023 10:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIET_NH](
	[MAPHIEU_NH] [char](10) NOT NULL,
	[MA_SP] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEU_NH] ASC,
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIET_XH]    Script Date: 4/25/2023 10:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIET_XH](
	[MAPH_XH] [char](10) NOT NULL,
	[MA_SP] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPH_XH] ASC,
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 4/25/2023 10:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MAKH] [char](10) NOT NULL,
	[TEN_KH] [nvarchar](50) NULL,
	[DIACHI_KH] [nvarchar](50) NULL,
	[GIOITINH_KH] [nvarchar](5) NULL,
	[SDT_KH] [varchar](12) NULL,
	[EMAIL_KH] [varchar](50) NULL,
	[FAX] [varchar](12) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHO_HANG]    Script Date: 4/25/2023 10:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO_HANG](
	[MAKHO] [char](10) NOT NULL,
	[TENKHO] [nvarchar](50) NULL,
	[DIACHI_KHO] [nvarchar](50) NULL,
	[GHICHU_KHO] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHO_HANG] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 4/25/2023 10:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAI] [char](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 4/25/2023 10:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MA_NCC] [char](10) NOT NULL,
	[TEN_NCC] [nvarchar](50) NULL,
	[DIACHI_NCC] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY CLUSTERED 
(
	[MA_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 4/25/2023 10:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MANV] [char](10) NOT NULL,
	[TEN_NV] [nvarchar](50) NULL,
	[EMAIL_NV] [varchar](50) NULL,
	[NGSINH_NV] [date] NULL,
	[GIOITINH_NV] [nvarchar](10) NULL,
	[SDT_NV] [varchar](12) NULL,
	[CHUCVU_NV] [nvarchar](50) NULL,
	[DIACHI_NV] [nvarchar](50) NULL,
	[LUONG_NV] [float] NULL,
	[BOPHAN_NV] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_NHAP_HANG]    Script Date: 4/25/2023 10:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP_HANG](
	[MAPHIEU_NH] [char](10) NOT NULL,
	[NGAY_NH] [date] NULL,
	[TONGSOLUONG_NH] [int] NULL,
	[TONGTIEN_NH] [float] NULL,
	[MANV] [char](10) NULL,
 CONSTRAINT [PK_PHIEU_NHAP_HANG] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU_NH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_XUAT_HANG]    Script Date: 4/25/2023 10:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_XUAT_HANG](
	[MAPH_XH] [char](10) NOT NULL,
	[NGAY_XH] [date] NULL,
	[TONGSOLUONG_XH] [int] NULL,
	[TONGTIEN_XH] [float] NULL,
	[MAKH] [char](10) NULL,
	[MANV] [char](10) NULL,
 CONSTRAINT [PK_PHIEU_XUAT_HANG] PRIMARY KEY CLUSTERED 
(
	[MAPH_XH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 4/25/2023 10:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MA_SP] [char](10) NOT NULL,
	[MA_NCC] [char](10) NULL,
	[TEN_SP] [nvarchar](50) NULL,
	[NGAYSX] [date] NULL,
	[HSD] [date] NULL,
	[SOLUONG_SP] [int] NULL,
	[MALOAI] [char](10) NULL,
	[GIA] [int] NULL,
	[GHICHU_SP] [nvarchar](50) NULL,
	[MAKHO] [char](10) NULL,
	[ANH] [image] NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 4/25/2023 10:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[TK] [char](10) NOT NULL,
	[MK] [char](15) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[QUYEN] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHITIET_NH] ([MAPHIEU_NH], [MA_SP], [SOLUONG], [THANHTIEN]) VALUES (N'PN001     ', N'SP001     ', 30, 4800)
INSERT [dbo].[CHITIET_NH] ([MAPHIEU_NH], [MA_SP], [SOLUONG], [THANHTIEN]) VALUES (N'PN002     ', N'SP002     ', 20, 6000)
INSERT [dbo].[CHITIET_NH] ([MAPHIEU_NH], [MA_SP], [SOLUONG], [THANHTIEN]) VALUES (N'PN003     ', N'SP003     ', 20, 8000)
INSERT [dbo].[CHITIET_XH] ([MAPH_XH], [MA_SP], [SOLUONG], [THANHTIEN]) VALUES (N'PX001     ', N'SP001     ', 100, NULL)
INSERT [dbo].[CHITIET_XH] ([MAPH_XH], [MA_SP], [SOLUONG], [THANHTIEN]) VALUES (N'PX002     ', N'SP002     ', 60, NULL)
INSERT [dbo].[CHITIET_XH] ([MAPH_XH], [MA_SP], [SOLUONG], [THANHTIEN]) VALUES (N'PX003     ', N'SP003     ', 75, NULL)
INSERT [dbo].[KHACH_HANG] ([MAKH], [TEN_KH], [DIACHI_KH], [GIOITINH_KH], [SDT_KH], [EMAIL_KH], [FAX]) VALUES (N'KH001     ', N'NGUYỄN MINH TUẤN', N'CỦ CHI', N'NAM', N'0851478532', N'minhtuan@gmail.com', N'0001')
INSERT [dbo].[KHACH_HANG] ([MAKH], [TEN_KH], [DIACHI_KH], [GIOITINH_KH], [SDT_KH], [EMAIL_KH], [FAX]) VALUES (N'KH002     ', N'TRẦN THANH NAM', N'GIA LAI', N'NAM', N'0857845522', N'thanhnam22@gmail.com', N'0002')
INSERT [dbo].[KHACH_HANG] ([MAKH], [TEN_KH], [DIACHI_KH], [GIOITINH_KH], [SDT_KH], [EMAIL_KH], [FAX]) VALUES (N'KH003     ', N'VÕ THỊ HUỲNH NHƯ', N'TRÀ VINH', N'NỮ', N'085147652', N'vothihuynhnhu.22042002@gmail.com', N'0003')
INSERT [dbo].[KHO_HANG] ([MAKHO], [TENKHO], [DIACHI_KHO], [GHICHU_KHO]) VALUES (N'K01       ', N'KHO LONG XUYÊN', N'AN GIANG', N'Chỉ nhận nước uống đóng chai')
INSERT [dbo].[KHO_HANG] ([MAKHO], [TENKHO], [DIACHI_KHO], [GHICHU_KHO]) VALUES (N'K02       ', N'KHO BÀ RỊA', N'BÀ RỊA - VŨNG TÀU', N'Chỉ nhận các loại hải sản')
INSERT [dbo].[KHO_HANG] ([MAKHO], [TENKHO], [DIACHI_KHO], [GHICHU_KHO]) VALUES (N'K03       ', N'KHO BẠC LIÊU', N'BẠC LIÊU', N'Nhận các đồ dùng nội thất')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'L01       ', N'HẢI SẢN')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'L02       ', N'TRÁI CÂY')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'L03       ', N'NƯỚC UỐNG ĐÓNG CHAI')
INSERT [dbo].[NHA_CUNG_CAP] ([MA_NCC], [TEN_NCC], [DIACHI_NCC]) VALUES (N'NCC01     ', N'CÔNG TY NHẬP KHẨU TRÁI CÂY V-FOOD VIỆT NAM', N'HÀ NỘI')
INSERT [dbo].[NHA_CUNG_CAP] ([MA_NCC], [TEN_NCC], [DIACHI_NCC]) VALUES (N'NCC02     ', N'CÔNG TY CỔ PHẦN RAU QUẢ TIỀN GIANG', N'TIỀN GIANG')
INSERT [dbo].[NHA_CUNG_CAP] ([MA_NCC], [TEN_NCC], [DIACHI_NCC]) VALUES (N'NCC03     ', N'CÔNG TY CỔ PHẦN HẢI SẢN ĐÔNG LẠNH', N'BÌNH DƯƠNG')
INSERT [dbo].[NHAN_VIEN] ([MANV], [TEN_NV], [EMAIL_NV], [NGSINH_NV], [GIOITINH_NV], [SDT_NV], [CHUCVU_NV], [DIACHI_NV], [LUONG_NV], [BOPHAN_NV]) VALUES (N'NV01      ', N'TRẦN HOÀI PHONG', N'hoaiphong@gmail.com', CAST(N'2000-01-29' AS Date), N'NAM', N'85963258', N'1.png', N'CẦN THƠ', 3000000, N'KIỂM HÀNG')
INSERT [dbo].[NHAN_VIEN] ([MANV], [TEN_NV], [EMAIL_NV], [NGSINH_NV], [GIOITINH_NV], [SDT_NV], [CHUCVU_NV], [DIACHI_NV], [LUONG_NV], [BOPHAN_NV]) VALUES (N'NV02      ', N'LƯƠNG MẠNH CƯỜNG', N'manhcuong@gmail.com', CAST(N'1990-10-10' AS Date), N'NAM', N'84785625', N'2.png', N'SÓC TRĂNG', 3100000, N'KIỂM HÀNG')
INSERT [dbo].[NHAN_VIEN] ([MANV], [TEN_NV], [EMAIL_NV], [NGSINH_NV], [GIOITINH_NV], [SDT_NV], [CHUCVU_NV], [DIACHI_NV], [LUONG_NV], [BOPHAN_NV]) VALUES (N'NV03      ', N'TRẦN XUÂN NHI', N'nhicutegird@gmail.com', CAST(N'2000-04-12' AS Date), N'NỮ', N'854796823', N'3.png', N'HỒ CHÍ MINH', 2500000, N'NHẬP HÀNG')
INSERT [dbo].[PHIEU_NHAP_HANG] ([MAPHIEU_NH], [NGAY_NH], [TONGSOLUONG_NH], [TONGTIEN_NH], [MANV]) VALUES (N'PN001     ', CAST(N'2020-06-06' AS Date), 100, NULL, N'NV03      ')
INSERT [dbo].[PHIEU_NHAP_HANG] ([MAPHIEU_NH], [NGAY_NH], [TONGSOLUONG_NH], [TONGTIEN_NH], [MANV]) VALUES (N'PN002     ', CAST(N'2020-08-22' AS Date), 150, NULL, N'NV04      ')
INSERT [dbo].[PHIEU_NHAP_HANG] ([MAPHIEU_NH], [NGAY_NH], [TONGSOLUONG_NH], [TONGTIEN_NH], [MANV]) VALUES (N'PN003     ', CAST(N'2021-05-13' AS Date), 200, NULL, N'NV05      ')
INSERT [dbo].[PHIEU_XUAT_HANG] ([MAPH_XH], [NGAY_XH], [TONGSOLUONG_XH], [TONGTIEN_XH], [MAKH], [MANV]) VALUES (N'PX001     ', CAST(N'2020-07-06' AS Date), 50, NULL, N'KH001     ', N'NV07      ')
INSERT [dbo].[PHIEU_XUAT_HANG] ([MAPH_XH], [NGAY_XH], [TONGSOLUONG_XH], [TONGTIEN_XH], [MAKH], [MANV]) VALUES (N'PX002     ', CAST(N'2020-09-22' AS Date), 75, NULL, N'KH002     ', N'NV08      ')
INSERT [dbo].[PHIEU_XUAT_HANG] ([MAPH_XH], [NGAY_XH], [TONGSOLUONG_XH], [TONGTIEN_XH], [MAKH], [MANV]) VALUES (N'PX003     ', CAST(N'2021-06-13' AS Date), 100, NULL, N'KH003     ', N'NV09      ')
INSERT [dbo].[SAN_PHAM] ([MA_SP], [MA_NCC], [TEN_SP], [NGAYSX], [HSD], [SOLUONG_SP], [MALOAI], [GIA], [GHICHU_SP], [MAKHO], [ANH]) VALUES (N'SP001     ', N'NCC01     ', N'TÁO ĐỎ', CAST(N'2021-10-22' AS Date), CAST(N'2021-11-22' AS Date), 239, N'L02       ', 160, N'Táo đỏ bảo quản lạnh', N'K06       ', NULL)
INSERT [dbo].[SAN_PHAM] ([MA_SP], [MA_NCC], [TEN_SP], [NGAYSX], [HSD], [SOLUONG_SP], [MALOAI], [GIA], [GHICHU_SP], [MAKHO], [ANH]) VALUES (N'SP002     ', N'NCC02     ', N'BÍ NGÔ', CAST(N'2022-01-02' AS Date), CAST(N'2022-02-02' AS Date), 124, N'L07       ', 240, N'Bí ngô 1 bao 10kg', N'K10       ', NULL)
INSERT [dbo].[SAN_PHAM] ([MA_SP], [MA_NCC], [TEN_SP], [NGAYSX], [HSD], [SOLUONG_SP], [MALOAI], [GIA], [GHICHU_SP], [MAKHO], [ANH]) VALUES (N'SP003     ', N'NCC03     ', N'TÔM CÀNG XANH', CAST(N'2022-05-10' AS Date), CAST(N'2022-05-15' AS Date), 140, N'L01       ', 320, N'Tôm càng xanh loại 1', N'K02       ', NULL)
INSERT [dbo].[TAI_KHOAN] ([TK], [MK], [EMAIL], [QUYEN]) VALUES (N'AnThao    ', N'3462           ', N'anthao@gmail.com', N'user      ')
INSERT [dbo].[TAI_KHOAN] ([TK], [MK], [EMAIL], [QUYEN]) VALUES (N'CuongManh ', N'4352           ', N'manhcuong@gmail.com', N'user      ')
INSERT [dbo].[TAI_KHOAN] ([TK], [MK], [EMAIL], [QUYEN]) VALUES (N'DungQuang ', N'2346           ', N'dungquang@gmail.com', N'user      ')
ALTER TABLE [dbo].[CHITIET_NH]  WITH CHECK ADD  CONSTRAINT [FK_CTNH_NH] FOREIGN KEY([MAPHIEU_NH])
REFERENCES [dbo].[PHIEU_NHAP_HANG] ([MAPHIEU_NH])
GO
ALTER TABLE [dbo].[CHITIET_NH] CHECK CONSTRAINT [FK_CTNH_NH]
GO
ALTER TABLE [dbo].[CHITIET_NH]  WITH CHECK ADD  CONSTRAINT [FK_CTNH_SP] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SAN_PHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[CHITIET_NH] CHECK CONSTRAINT [FK_CTNH_SP]
GO
ALTER TABLE [dbo].[CHITIET_XH]  WITH CHECK ADD  CONSTRAINT [FK_CTXH_SP] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SAN_PHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[CHITIET_XH] CHECK CONSTRAINT [FK_CTXH_SP]
GO
ALTER TABLE [dbo].[CHITIET_XH]  WITH CHECK ADD  CONSTRAINT [FK_CTXH_XH] FOREIGN KEY([MAPH_XH])
REFERENCES [dbo].[PHIEU_XUAT_HANG] ([MAPH_XH])
GO
ALTER TABLE [dbo].[CHITIET_XH] CHECK CONSTRAINT [FK_CTXH_XH]
GO
ALTER TABLE [dbo].[PHIEU_NHAP_HANG]  WITH CHECK ADD  CONSTRAINT [FK_NH_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_NHAP_HANG] CHECK CONSTRAINT [FK_NH_NV]
GO
ALTER TABLE [dbo].[PHIEU_XUAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_XH_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH_HANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEU_XUAT_HANG] CHECK CONSTRAINT [FK_XH_KH]
GO
ALTER TABLE [dbo].[PHIEU_XUAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_XH_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_XUAT_HANG] CHECK CONSTRAINT [FK_XH_NV]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO_HANG] ([MAKHO])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SP_KHO]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_LOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SP_LOAI]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_NCC] FOREIGN KEY([MA_NCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MA_NCC])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SP_NCC]
GO
USE [master]
GO

Use QUANLYKHOHANG
go

Select * from NHA_CUNG_CAP
Select * from SAN_PHAM
select * from LOAISP
Select * from NHAN_VIEN
Select * from KHO_HANG
select * from PHIEU_NHAP_HANG
Select * from CHITIET_NH
Select * from PHIEU_XUAT_HANG
Select * from CHITIET_XH
Select * from KHACH_HANG where MAKH = 'KH001'
UPDATE SAN_PHAM 
SET ANH = 'sp1.png' where MA_SP = 'SP011'

delete NHA_CUNG_CAP where MA_NCC='NCC10'

UPDATE NHA_CUNG_CAP 
SET TEN_NCC = N'CÔNG TY CÔ PHẦN TINH ĐẦU AVAN', DIACHI_NCC = N'HẢI PHÒNG' where MA_NCC = 'NCC10'

Insert into KHO_HANG(MAKHO, TENKHO, DIACHI_KHO, GHICHU_KHO) Values('K12', N'KHO QUẬN TÂN PHÚ', N'QUY NHƠN', N'Chỉ nhận hải sản')

update KHO_HANG set TENKHO =N'KHO HÀNG TỐT', DIACHI_KHO =N'BÌNH DƯƠNG', GHICHU_KHO =N'Chỉ nhận hàng siêu tốt' where MAKHO='K!2';


Insert into PHIEU_XUAT_HANG(MAPH_XH, NGAY_XH, TONGSOLUONG_XH, TONGTIEN_XH, MAKH, MANV) Values('PX0011', '2020/08/15', '60', '0', 'KH001', 'NV07')

Insert into CHITIET_XH(MAPH_XH, MA_SP, SOLUONG) Values('PX001', 'SP001', '60')

Insert into CHITIET_NH(MAPHIEU_NH, MA_SP, SOLUONG) Values('PN001', 'SP001', '30')


Insert into NHAN_VIEN(MANV, TEN_NV, EMAIL_NV, NGSINH_NV, GIOITINH_NV, SDT_NV, DIACHI_NV) Values('NV100', N'HOÀN MỸ NHÂN', 'mynhan123@gmail.com', '2000/08/19', N'Nữ', '0933567189', N'Quảng Ngãi')

Insert into NHAN_VIEN(MANV, TEN_NV, EMAIL_NV, GIOITINH_NV, SDT_NV, DIACHI_NV) Values('NV114', N'HOÀN MỸ NAM', N'mynhan123@gmail.com', N'NAM', '0933567189', N'CANADA')


Delete from NHAN_VIEN where MANV='%s'

Insert into SAN_PHAM(MA_SP, MA_NCC, TEN_SP, NGAYSX, HSD, SOLUONG_SP, MALOAI, GIA, GHICHU_SP, MAKHO) Values('SP0214', 'NCC01', N'TÁO XANH LÈ', '2021-10-23', '2021-12-23', '100', 'L02', '350', N'Táo xanh bảo quản tủ quần áo', 'K06')

Insert into SAN_PHAM(MA_SP, MA_NCC, TEN_SP, NGAYSX, HSD, SOLUONG_SP, MALOAI, GIA, GHICHU_SP, MAKHO) Values('SP014', '%s', N'%s', '%s', '%s', '%d', '%s', '%s', N'%s', '%s')


Insert into CHITIET_XH(MAPH_XH, MA_SP, SOLUONG) Values('PX001', 'SP001', '2')